* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1A5F7A;
  font-family: "PT Sans Narrow", sans-serif;
}

/*=================== Inicio.html ======================*/
.container__index {
  background-color: #0b4a5d;
  margin: 5rem;
}
.container__index div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem;
  padding-top: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container__index p {
  font-size: 25px;
  color: white;
  margin: 5rem;
}

/*===========================  FOOTER ==================================== */
footer {
  margin-top: auto;
  background-color: #1A5F7A;
}
footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer h1 {
  font-size: 50px;
  color: white;
  margin: 5rem;
}
footer img {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 3rem;
  left: 50%;
}

/*=========================== DISCOGRAFIA ===============================*/
.gridContainer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 4px 2px;
  grid-template-areas: "videoset1 videoset1 parrafo1" ". videoset2 videoset2" "videoset3 videoset3 parrafo2";
}

.videoset1 {
  grid-area: videoset1;
}

.parrafo1 {
  grid-area: parrafo1;
}

.videoset2 {
  grid-area: videoset2;
}

.videoset3 {
  grid-area: videoset3;
}

.parrafo2 {
  grid-area: parrafo2;
}

.gridContainer {
  background-color: #0b4a5d;
}

.videoset1 {
  margin-top: auto;
  margin: 5rem;
}

p {
  font-size: 20px;
  color: white;
}

.parrafo1 {
  margin: 5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.videoset2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.videoset3 {
  margin-top: auto;
  margin: 5rem;
}

.parrafo2 {
  margin: 5rem;
}

/*============== GALERIA ========================*/
/* ==============  CONTACTOS ===============  */
.bloque-conteiner-contacto {
  background-color: #0b4a5d;
  padding: 5rem;
}

.bloque-contacto1 {
  display: inline-block;
  font-size: 30px;
  width: 50%;
  text-align: left;
  border-bottom: 20rem;
  vertical-align: top;
  color: white;
}

.texto-contacto {
  color: white;
}

input,
textarea {
  border-radius: 15px;
  width: 100%;
  padding: 20px;
}

.nombre-campo {
  font-size: 25px;
  color: white;
}

.enviar-formu {
  left: 10px;
}

.enviar-formu {
  display: block;
}

.bloque-contacto2 {
  background-color: #0b4a5d;
  font-size: 40px;
  display: inline-block;
  padding: 30px;
}

.nombre-campo {
  display: block;
}

/* ===================  PLATAFORMA ===========================
*/
.cuerpo-plataf {
  background-color: #0b4a5d;
}

.bloque-plat1 {
  display: inline-block;
}

.imag-plat1 {
  width: 20rem;
  padding: 40px;
}

.texto-comple {
  font-size: 50px;
  display: inline-block;
  padding-left: 20rem;
  margin-top: 25%;
  vertical-align: top;
  color: white;
}

.imag-plat2 {
  width: 25rem;
  padding: 40px;
}