@import "./partials/general.scss";

@import "./partials/navbar";

@import "./partials/iniciohtml.scss";

@import "./partials/footer.scss";

@import "./partials/discografia.scss";

@import "./partials/galeria";

@import "./partials/contactos";

@import "./partials/plataforma";




/*------------------- MOBILE --------------------------- */

@media screen and (max-width: 480px) {
    body {
        background-color: red;
    }



}

/* ------------------------------ TABLET ----------------------------- */

@media screen and (min-width: 481px) and (max-width: 800px) {
    body {
        background-color: yellow;
    }

}

/* -------------------------------- DESKTOP --------------------------------*/

@media screen and (min-width: 801px) and (max-width: 1400px) {
    body {
        background-color: rgb(234, 25, 179);

    }
    }









/* ------------------XXL----------------------------------------------------- */

@media screen and (min-width: 1401px) {
    body {
        background-color: rgb(48, 113, 174);
        max-width: 1400px;
        margin: auto
    }


}