.ContactoFlex {
    display: flex;
    justify-content: center;


}

.containerContacto {

    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-size: 25px;
    margin: 3rem;


    tituloContacto {
        font-size: 50px;
        justify-items: start;
    }
}

.formContacto {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    margin: 2rem;

    button {
        border-radius: 3px;
    }

    input {
        border-radius: 5px;
    }

    textarea {
        border-radius: 5px;
    }
}

.nombre-campo {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    margin: 5px;

}