
.container__index {
    background-color: #0b4a5d;
    margin: 5rem;

    div {
        display: flex;
        margin: 2rem;
        padding-top: 1rem;
        justify-content: center;
    }

    p {
        font-size: 25px;
        color: white;
        margin: 5rem;
    }

}