.navbarColor{
    background-color: rgb(15, 68, 117);
font-size: 25px;

    
}

.navbarColor:hover{
    background-color: rgb(78, 123, 227);
    color: black;
}

.enlacesNavbar{
    background-color: rgb(51, 151, 209);
    padding: .5rem;
    border-radius: 5px;
margin: 1rem;

}





