
.containerPlataformas {
    display: flex;
    flex-direction: column;

}

img {
    margin-left: 20rem;
    margin-bottom: 10rem;
}

.enlacesPlataformas {
    color: white;
    font-size: 50px;
    margin-right: 20rem;

}

.enlacesPlataformas:hover{
    height: 2rem;
}
